version: "3"
services:
  web:
    image: hmccaa/hmcc-web:local
    build: ./
    restart: unless-stopped
    user: root
    environment:
      DATABASE_HOST: strapiDB
    env_file: ./frontend/.env.development
    entrypoint: /bin/bash
    ports:
      - "1337:1337"
      - "8000:8000"
    volumes:
      - ./frontend/:/home/node/frontend/
      - ./cms/:/home/node/cms/
      - ./setup/:/home/node/setup/
      - gatsby_node_modules:/home/node/frontend/node_modules/
      - strapi_node_modules:/home/node/cms/node_modules/
    networks:
      - strapi
    depends_on:
      - strapiDB

  strapiDB:
    container_name: strapiDB
    platform: linux/amd64 #for platform error on Apple M1 chips
    restart: unless-stopped
    env_file: ./cms/.env
    image: mysql:5.7
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - strapi-data:/var/lib/mysql
      #- ./data:/var/lib/mysql # if you want to use a bind folder
    ports:
      - "3306:3306"
    networks:
      - strapi

volumes:
  strapi-data:
  gatsby_node_modules:
  strapi_node_modules:

networks:
  strapi:
    name: Strapi
    driver: bridge
