@config "../config/tailwind.config.js";

.container {
    @apply pb-56 pt-31 h-full w-full;
}

.title-container {
    @apply text-center pb-14;
  }

.middle-container {
    @apply flex gap-x-sm;
}

.container h3 {
    @apply font-semibold text-2xl;
} 

.arrow {
    @apply pr-5;
}

.sub-head {
    @apply flex;
}

.box {
    @apply flex-col flex-nowrap break-inside-avoid-column;
}


