@config "../config/tailwind.config.js";

.container {
  @apply py-10 lg:py-20 max-w-container w-full;
}

.title-container {
  @apply lg:text-center pb-10 lg:pb-15;
}

.middle-container {
  @apply flex flex-col items-center lg:items-start lg:flex-row lg:gap-x-2 [@media(min-width:1100px)]:gap-x-10 xl:gap-x-30 max-w-[67.5rem] mx-auto;
}

.middle-container > div {
  @apply max-w-[30.3125rem];
}

.sub-head h3 {
  @apply flex leading-tighter lg:leading-normal font-semibold text-lg lg:text-2xl;
}

.arrow {
  @apply pr-3 lg:pr-5;
}

.sub-head {
  @apply flex;
}

.sub-head button {
  @apply text-left;
}

.box {
  @apply flex-col flex-nowrap break-inside-avoid-column;
}

.box-pad {
  @apply pb-4;
}

.toggle-container p {
  @apply mb-0 mt-2 lg:mt-4 text-base lg:text-lg;
}
