@config "../config/tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-Primary-700;
}

.triangle-left {
  @apply left-0;
}

.triangle-right {
  @apply right-0 -scale-x-100;
}

.triangle {
  @apply w-20 h-full absolute bottom-0 bg-gradient-to-bl from-transparent from-50% to-Primary-500 to-50%;
}

.subheading {
  @apply font-bold text-lg md:text-xl uppercase text-Primary-300 pb-3;
}

h2 {
  @apply font-semibold text-2xl md:text-4xl leading-tighter text-Shades-100 uppercase;
}

.linecap-round {
  stroke-linecap: round;
}

.linejoin-round {
  stroke-linejoin: round;
}

.invisibility {
  @apply h-0 overflow-hidden opacity-0;
}

nav.breadcrumb {
  @apply max-w-container w-full text-base md:text-xl font-medium text-[#4352B1] pl-[0.125rem] md:pl-0;
}

nav .breadcrumb__list {
  @apply flex flex-wrap list-none m-0;
}

nav .breadcrumb__separator {
  @apply mx-[0.3125rem];
}

nav .breadcrumb__link {
  @apply no-underline text-[#4352B1];
}

p {
  @apply pb-[1.3125rem] md:pb-6;
}

/* react-modal transitions */
.ReactModal__Overlay {
  @apply bg-[rgba(0,0,0,0.58)] opacity-0 -translate-y-[10%] transition duration-[300ms] ease-[cubic-bezier(0.445,0.05,0.55,0.95)] left-0 right-0 top-0 bottom-0 overflow-auto;
}

.ReactModal__Overlay--after-open {
  @apply opacity-100 translate-y-0;
}

.ReactModal__Overlay--before-close {
  @apply opacity-0 -translate-y-[10%];
}

.ReactModal__Content {
  @apply sm:max-w-[19.625rem] md:max-w-container m-8 sm:mx-auto sm:my-8 border-none;
}

.ReactModal__Body--open,
.ReactModal__Html--open,
.menu__Html--open,
.menu__Body--open {
  @apply overflow-hidden;
}

.mobile-nav,
.ReactModalPortal {
  @apply hidden;
}

.menu__Body--open .mobile-nav,
.ReactModal__Body--open .ReactModalPortal {
  @apply block;
}

.border-highlight {
  @apply border-[2px] border-Primary-300;
}

.label-highlight {
  @apply text-Primary-300 translate-x-[17px];
}

.selected-item {
  @apply bg-[rgba(25,118,210,0.08)];
}
.selected-item:hover {
  @apply bg-[rgba(25,118,210,0.08)];
}

span.ellipsis {
  @apply text-ellipsis;
}
.content-image {
  @apply max-w-container w-full md:py-15 gap-x-15;
}

.content-padding-full {
  @apply px-4 md:px-8 w-full flex flex-col items-center;
}

.image-container {
  @apply md:w-[45.7628%];
}

.content-container {
  @apply md:w-[49.1526%];
}

.collapsible-items .sub-heading {
  @apply md:items-center;
}
.collapsible-items .sub-heading h3 {
  @apply leading-tighter;
}
.collapsible-items .toggle {
  @apply pb-0;
}

.collapsible-items .toggle p {
  @apply mt-2 md:mt-3 text-base md:text-lg;
}

.collapsible-items .toggle p:nth-child(2) {
  @apply mt-5 md:mt-6;
}
