@config "../config/tailwind.config.js";

.wrapper {
  @apply bg-Neutral-200 inline-flex justify-center items-center pt-[1.75rem] pb-[2.9375rem] lg:py-[4.4375rem] w-full px-[0.875rem];
}

.container {
  @apply max-w-container w-full flex flex-col text-center gap-y-5 lg:text-left lg:flex-row items-center lg:items-start lg:gap-x-15 lg:gap-y-0;
}

.description-wrapper {
  @apply max-w-[42.5rem] w-full gap-y-5 flex flex-col lg:w-[49.1526%];
}
