@config "../config/tailwind.config.js";

.title-container {
  @apply text-center px-4 pb-5 lg:pb-20;
}

.step {
  @apply flex;
}

.step-3 {
  @apply order-3 pb-[23px] lg:pl-24 lg:pr-8 xl:px-31 lg:pb-11.25 lg:w-[72.04%];
}
.step-2 {
  @apply order-2 pb-4 lg:pl-12 lg:pr-2 xl:px-18 lg:pb-17 lg:w-[68.90%];
}

.step-1 {
  @apply order-1 pb-4 lg:pl-0 lg:pr-2 xl:px-2 lg:pb-24.5 lg:w-[72.72%];
}

.count {
  @apply font-bold text-6xl leading-tighter text-Accent-700 pr-5 lg:pr-8 lg:absolute lg:top-0 lg:left-0;
}

.container h3 {
  @apply font-bold text-lg lg:text-2xl leading-tighter;
}

.container {
  @apply lg:pb-20.25;
}

.svg-container {
  @apply pb-5 lg:pb-0 max-w-[300px] mx-auto  lg:max-w-none lg:mx-0 lg:absolute lg:right-2.25 lg:w-[25%] xl:w-[42.38%] lg:top-0 px-3.5 lg:px-0 flex flex-col items-center;
}
