.title-container {
  @apply text-center pb-20;
}

.step-3 {
  @apply flex px-31 pb-11.25 max-w-3.4xl;
}
.step-2 {
  @apply flex px-18 pb-17 max-w-3.25xl;
}

.step-1 {
  @apply px-2 pb-24.5 flex max-w-3.5xl;
}

.count {
  @apply font-bold text-6xl leading-tighter text-Accent-700 pr-8;
}

.container h3 {
  @apply font-bold text-2xl leading-tighter;
}

.container {
  @apply pb-20.25 bg-go-pattern bg-no-repeat bg-go-position;
}
