name: Component - Deploy To Dev Frontend
on:
  workflow_call:
    
jobs:
  build:
    uses: ./.github/workflows/component-build.yml
    with:
      build_type: production
      publish_location: dev
      add_robots_txt: true
      artifact_name: frontend-build-dev-${{ github.run_id }}
    secrets:
      strapi_token: ${{ secrets.STRAPI_TOKEN }}
      strapi_api_url: ${{ secrets.STRAPI_SERVER }}
      host_server: ${{ secrets.HOST_SERVER }}

  sync:
    needs: [build]
    uses: ./.github/workflows/component-sync.yml
    with:
      publish_location: dev
      artifact_name: frontend-build-dev-${{ github.run_id }}
      server_name: dev-annarbor-hmcc-net
    secrets:
      ssh_key: ${{ secrets.SSH_PRIVATE_KEY }}
      ssh_host: ${{ secrets.SSH_HOST }}
      ssh_user: ${{ secrets.SSH_USER }}
