name: Publish PR Build to Servers
run-name: Deploy after Strapi Updated
on:
  repository_dispatch:
    types: [strapi_updated]

jobs:
  deploy-prod-site:
    uses: ./.github/workflows/component-deploy-prod.yml
    secrets: inherit

  deploy-dev-site:
    needs: deploy-prod-site
    uses: ./.github/workflows/component-deploy-dev.yml
    secrets: inherit
